EXPO_PUBLIC_OPENROUTER_API_KEY=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
EXPO_PUBLIC_SUPABASE_URL=https://vfueddyempsowsgmjleu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tUOMGX5N9Z-fAZQeUbo09w_P46PhL-U